<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">
    <script src="{{ url_for('static', filename='script/cadastro.js') }}"></script>
    {% extends 'nav_html.html' %}
    <title>Cadastro de Usuário</title>
</head>
<body>
    {% block pagina_inicial %}
    {% endblock %}
    {% block padrao_sem_perfil %}
    {% endblock %}
    {% block padrao_com_perfil %}
        <main class="main-content">
            {% if status == 'cadastro' %}
                <div class="form-container">
                    <h2>Cadastre seus dados</h2>
                    <hr id="hrnormal">
                    <form action="/cadastro/submit_form" method="post" enctype="multipart/form-data">
                        <label for="nome_perfil">Nome do perfil (Este nome não poderá ser alterado):</label>
                        <input type="text" name="nome_perfil" id="nome_perfil" placeholder="Digite seu nome de perfil..." required>
                        <label for="nome_usuario">Nome de usuário:</label>
                        <input type="text" name="nome_usuario" placeholder="Digite seu nome de usuário..." required>
                        <label for="cpf">CPF:</label>
                        <input type="text" name="cpf" placeholder="Digite seu cpf..." required>
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email" placeholder="Digite seu email..." required>
                        <label for="sexo">Sexo:</label>
                        <select name="sexo">
                            <option value="Masculino">Masculino</option>
                            <option value="Feminino">Feminino</option>
                        </select>
                        <label for="cidade">Cidade:</label>
                        <input type="text" name="cidade" placeholder="Digite a sua cidade..." required>
                        <label for="foto">Foto de perfil: </label>
                        <div class="image-upload">
                            <label for="foto">
                                <span id="upload-text">Mande sua foto</span>
                                <img id="preview" src="https://via.placeholder.com/150" alt="Sua foto" />
                            </label>
                            <input id="foto" type="file" name="foto_de_perfil" required>
                        </div>
                        <br>
                        <label for="senha">Senha:</label>
                        <input type="password" name="senha" id="senha" placeholder="Digite sua senha..." required>
                        <label for="confirmasenha">Confirmar senha:</label>
                        <input type="password" name="confirmasenha" id="confirmasenha" placeholder="Confirme sua senha..." required>
                        <p class="span">Ao cadastra-se nesse site com você concorda com a política de privacidade da Delicius Sweet</p>
                        {% if mensagem_erro_cadastro != None %}
                            <p id="erro">{{ mensagem_erro_cadastro }}</p>
                        {% endif %}
                        <button type="submit">Enviar</button>
                    </form>
                </div>
            {% elif status == 'login' %}
                <div class="form-container">
                    <h2>Faça login!</h2>
                    <form action="/login/submit_form" method="post">
                        <hr id="hr2">
                        <label for='email'>Email:</label>
                        <input type="email" name="email" placeholder="Digite seu email..." required>
                        <label for="senha">Senha:</label>
                        <input type="password" name="senha" placeholder="Digite sua senha..." required>
                        {% if mensagem_erro_login != None %}
                            <p id="erro">{{ mensagem_erro_login }}</p>
                        {% endif %}
                        <button type="submit">Enviar</button>
                    </form>
                </div>
        {% endif %}
        </main>
    {% endblock %}
    {% block footer %}
        {{ super() }}
    {% endblock %}
</body>
</html>