<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/carrinho.css') }}">
    <script src="{{ url_for('static', filename='script/carrinho.js') }}"></script>
    {% extends 'nav_html.html' %}
    <title>Carrinho</title>
</head>
<body>
    {% block pagina_inicial %}
    {% endblock %}

    {% block padrao_sem_perfil %}
    {% endblock %}

    {% block padrao_com_perfil %}
        {{ super() }}
        <main>
            <div class="header-carrinho">
                <h1 class="titulo-carrinho">Seu carrinho</h1>
            </div>
            {% if lista != [] %}
                <div class="tabelas">
                    <h2 class="titulo-produtos">Produtos adicionados ao seu carrinho!</h2>
                </div>
                <div class="carrinho-container">
                    <div class="status">
                        {% for produto in lista %}
                            <div class="produto">
                                <img class="imagem-produto" src="{{ url_for('static', filename='img/compras/' + produto[4]) }}" alt="Imagem não carregada">
                                <div class="info-produto">
                                    <h3 class="nome-produto">{{ produto[2] }}</h3>
                                    <p class="tipo-produto">Tipo de produto: {{ produto[1].replace('_', ' ').title() }}</p>
                                    <p class="preco-produto">Preço: R${{ produto[5] }}</p>
                                    <div class="quantidade-e-checkbox">
                                        <label for="quantidade-produto">Quantidade: </label>
                                        <input type="hidden" name="produto" value="{{ produto[2] }}">
                                        <input class="idCarrinho" type="hidden" name="idCarrinho" value="{{ produto[0] }}">
                                        <input class="quantidade-produto" type="number" min="1" max="20" name="quantidade" value="{{ produto[6] }}" oninput="calcularTotal()">
                                        <input class="preco_produto" type="hidden" name="preco_produto" value="{{  (produto[5] | string).replace(',','.') }}">
                                        <input class="comprar-checkbox" type="checkbox" name="comprar" value="OK" onclick="calcularTotal()">
                                    </div>
                                    <form action="/comprarprodutoform/submit_form" method="post">
                                        <input type="hidden" name="idCarrinho" value="{{ produto[0] }}">
                                        <input type="hidden" name="status" value="excluir">
                                        <button class="botao-excluir">Excluir</button>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="mostrar_total">
                        <p>Total de produtos: <span id="total-produtos">0</span></p>
                        <p>Total a ser pago: R$<span id="total-valor">0.00</span></p>
                        <form id="compra-form" action="/comprarprodutoform/submit_form" method="post">
                            <input type="hidden" name="status" value="comprar">
                            <input type="hidden" name="nome-produtos" id="nome-produtos" value="">
                            <input type="hidden" name="carrinho-produtos" id="carrinho-produtos" value="">
                            <input type="hidden" name="quantidade-total" id="quantidade-total" value="">
                            <input type="hidden" name="preco-total" id="preco-total" value="">
                            <button type="submit">Fechar pedido</button>
                        </form>
                    </div>
                </div>
            {% else %}
                <h2 class="mensagem-vazio">Você não tem itens adicionados no seu carrinho!</h2>
            {% endif %}
        </main>
    {% endblock %}
    {% block footer %}
        {{ super() }}
    {% endblock %}
</body>
</html>
