<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/pagina_inicial.css') }}">
    <title>Delicious Sweets</title>
</head>
<body>
    <nav class='nav'>
        <div class='navegador'>
            <img id="logo" src="{{ url_for('static', filename='img/pagina_inicial/logo.png') }}">
            <a href="/sobre" id="sobre"><img src="{{ url_for('static', filename='img/pagina_inicial/historia_da_loja.png')}}"></a>
            {% if usuario != None %}
                <h2 id="text2">Bem-vindo(a) {{ usuario }}! Acesse nossas abas</h2>
            {% else %}
                <h2 id="text2">Bem-vindo(a)! Cadastre-se em nossa loja abaixo!</h2>
            {% endif %}
            {% if usuario != None %}
                <a href="/perfil" id="perfil"><img src="{{ url_for('static', filename='img/pagina_inicial/perfil.png') }}"></a>
            {% else %}
                <form id="cadastro" action="/cadastro" method='post'>
                    <input type="hidden" name="status" value="cadastro">
                </form>
                <form id="entrar" action="/cadastro" method='post'>
                    <input type="hidden" name="status" value="login">
                </form>
                <a id="cadastro"><img src="{{ url_for('static', filename='img/pagina_inicial/cadastro.png') }}" onclick="document.getElementById('cadastro').submit();" style="cursor:pointer;"></a>
                <a id="entrar"><img src="{{ url_for('static', filename='img/pagina_inicial/entrar.png') }}" onclick="document.getElementById('entrar').submit();" style="cursor:pointer;"></a>
            {% endif %}
            {%if usuario != None %}
                <a href="/carrinho" id="carrinho"><img src="{{ url_for('static', filename='img/compras/carrinho.png') }}"></a>
            {% endif %}
        </div>
    </nav>
    <main>
        <div id="carousel">
            <img src="{{ url_for('static', filename='img/pagina_inicial/carousel1.jpg') }}" alt="Imagem 1">
            <img src="{{ url_for('static', filename='img/pagina_inicial/carousel2.jpg') }}" alt="Imagem 2">
            <img src="{{ url_for('static', filename='img/pagina_inicial/carousel3.jpg') }}" alt="Imagem 3">
            <img src="{{ url_for('static', filename='img/pagina_inicial/carousel4.jpg') }}" alt="Imagem 4">
        </div>
        <hr>
        {% if usuario != None %}
            <div class="frases">
                <h1>Produtos que você pode gostar</h1>
            </div>
            <h2>Produtos que estão na sua preferência</h2>
            <div class="preferencia">
                {% for produto in produtos %}
                {% if produto[1] == preferencia %}
                <div>
                    <div class="produtos">
                        <form action="addcarrinho/submit_form" method="post">
                            <h2>{{ produto[2] }}</h2>
                            <p>{{ produto[3] }}</p>
                            <img class  = 'imagem' src="{{ url_for('static', filename='img/compras/' + produto[4]) }}" alt="Imagen não carregada">
                            <p>Tipo do produto: {{ produto[1].replace('_', ' ').title() }}</p>
                            <input type="number" name="quantidade" min='1' max='100' placeholder="Digite a quantidade" id="number">
                            <p>R${{ produto[5] }}</p>
                            <input type="hidden" name="idProduto" value="{{ produto[0] }}">
                            <button>Adicionar ao carinho</button>
                        </form>
                </div>
            </div>
                {% endif %}
                {% endfor %}
            </div>
                <div class="frases">
                    <h1>Veja outros produtos</h1>
                </div>
                    <h2>Doces</h2>
                    {% for produto in produtos %}
                    <div>
                        <div class="produtos">
                            <form action="addcarrinho/submit_form" method="post">
                                <h2>{{ produto[2] }}</h2>
                                <p>{{ produto[3] }}</p>
                                <img class  = 'imagem' src="{{ url_for('static', filename='img/compras/' + produto[4]) }}" alt="Imagen não carregada">
                                <p>Tipo do produto: {{ produto[1].replace('_', ' ').title() }}</p>
                                <input type="number" name="quantidade" min="1" max="100"  placeholder="Digite a quantidade" id="number">
                                <p>R${{ produto[5] }}</p>
                                <input type="hidden" name="idProduto" value="{{ produto[0] }}">
                                <button>Adicionar ao carinho</button>
                            </form>
                        </div>
                    {% endfor %}
                    </div>
        {% else %}
            <h1>Cadastre-se!</h1>
            <hr>
            <p>A loja Delicious Sweets, pioneira na venda de doces agora está com sua loja virtual! Por favor, cadastre-se para acessar nossos milhares de produtos à venda!</p>
        {% endif %}

    </main>
    <footer>
        <hr id="hr1">
        Todos os direitos reservados
    </footer>
</body>
</html>