<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pagina_inicial.css') }}">
    <script src="{{ url_for('static', filename='script/pagina_inicial.js') }}"></script>
    <title>Delicious Sweets</title>
    {% extends 'nav_html.html' %}
</head>
<body>
    {% block padrao_sem_perfil %}
    {% endblock %}
    {% block padrao_com_perfil %} 
    {% endblock %}
    {% block pagina_inicial %}
        {{ super() }}
        <main>
            <div id="carousel">
                <img src="{{ url_for('static', filename='img/pagina_inicial/carousel1.jpg') }}" alt="Imagem 1">
                <img src="{{ url_for('static', filename='img/pagina_inicial/carousel2.jpg') }}" alt="Imagem 2">
                <img src="{{ url_for('static', filename='img/pagina_inicial/carousel3.jpg') }}" alt="Imagem 3">
                <img src="{{ url_for('static', filename='img/pagina_inicial/carousel4.jpg') }}" alt="Imagem 4">
            </div>
            {% if dados != None %}
                <hr id="padrao">
                <h2 class="frases">Produtos que você pode gostar</h2>
                <div class="preferencia">
                    {% for produto in produtos %}
                    {% if produto[2] in dados %}
                        <div class="produto">
                            <a href="/produto/{{ produto[2] }}/{{ produto[0] }}" class="produto-link">
                                <div class="produtos">
                                    <h2>{{ produto[2] }}</h2>
                                    <p id="avaliacao">{{ avaliacao[produto[2]] }}</p>
                                    <p>{{ produto[3][:28] }}...</p>
                                    <img class  = 'imagem' src="{{ url_for('static', filename='img/compras/' + produto[5]) }}" alt="Imagen não carregada">
                                    <p>Tipo do produto: {{ produto[1].replace('_', ' ').title() }}</p>
                                    <p>R${{ produto[6] }}</p>
                                    <input type="hidden" name="idProduto" value="{{ produto[0] }}">
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </div>
            <section class="vejaprodutos">
                <div class="frases">
                    {% if usuario != None %}
                        <h1>Veja outros produtos</h1>
                    {% else %}
                        <h1>Veja os produtos da loja!</h1>
                    {% endif %}
                </div>                
                {% for contagem in range(3) %}
                    {% set mostrar_produtos = produtos[0:5] if contagem == 0 else produtos[contagem*5:(contagem * 5)+5] %}
                    <div class="produtos-wrappe">
                        {% for produto in mostrar_produtos %}
                        <div class="produto">
                            <a href="/produto/{{ produto[2] }}/{{ produto[0] }}" class="produto-link">
                                <div class="produtos">
                                    <h2>{{ produto[2] }}</h2>
                                    <p id="avaliacao">{{ avaliacao[produto[2]] }}</p>
                                    <img class='imagem' src="{{ url_for('static', filename='img/compras/' + produto[5]) }}" alt="Imagen não carregada">
                                    <p>{{ produto[3][:28] }}...</p>
                                    <p>Tipo do produto: {{ produto[1].replace('_', ' ').title() }}</p>
                                    <p>R${{ produto[6] }}</p>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </section>
                
        </main>
    {% endblock %}
    {% block footer %}
        {{ super() }}
    {% endblock %}
</body>
</html>
