<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/pagina_inicial.css') }}">
    <title>Delicious Sweets</title>
</head>
<body>
    <nav class='nav'>
        <div class='navegador'>
            <h1 id="text1">Delicious Sweets</h1>
            {% if usuario != None %}
                <h2 id="text2">Bem-vindo(a) {{ usuario }}! Acesse nossas abas</h2>
            {% else %}
                <h2 id="text2">Bem-vindo(a)! Cadastre-se em nossa loja abaixo!</h2>
            {% endif %}
            ●<a href="http://127.0.0.1:5000/pagina_inicial"> Página Inicial</a>
            ●<a href="http://127.0.0.1:5000/sobre"> História da Loja</a>
            ●<a href="http://127.0.0.1:5000/cadastro"> Cadastro</a>
            {%if usuario != None %}
                <a href="http://127.0.0.1:5000/carrinho" id="a1"><img src="{{ url_for('static', filename='img/compras/carrinho.png') }}"></a>
            {% endif %}
        </div>
    </nav>
    <main>
        {% if usuario != None %}
            <div class="tabelas">
                <h1>Produtos que você pode gostar</h1>
            </div>
            
                <div class="tabelas">
                    <h1>Veja outros produtos</h1>
                </div>
                    <h2>Doces</h2>
                    {% for produto in produtos %}
                    <div>
                        <div class="produtos">
                            <form action="addcarrinho/submit_form" method="post">
                                <h2>{{ produto[1] }}</h2>
                                <p>{{ produto[2] }}</p>
                                <img class  = 'imagem' src="{{ url_for('static', filename='img/compras/' + produto[3]) }}" alt="Imagen não carregada">
                                <input type="number" name="quantidade" placeholder="Digite a quantidade">
                                <p>R${{ produto[4] }}</p>
                                <input type="hidden" name="idProduto" value="{{ produto[0] }}">
                                <input type="hidden" name="preco" value="{{ produto[4] }}">
                                <button>Adicionar ao carinho</button>
                            </form>
                        </div>
                    {% endfor %}
                    </div>
        {% else %}
            <h1>Cadastre-se!</h1>
        {% endif %}

    </main>
    <footer>
        <hr id="hr1">
        Todos os direitos reservados
    </footer>
</body>
</html>