<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sobre.css') }}">
    <title>Delicious Sweets</title>
    {% extends 'nav_html.html' %}
</head>

<body>
    {% block pagina_inicial %}
    {% endblock %}
    {% block padrao_com_perfil %}
    {% endblock %}
        {% block padrao_sem_perfil %}
        {{ super() }}
        <main>
            <div class="header">
                <h1>Historia da loja</h1>
                <img id="img1" src="{{ url_for('static', filename='img/sobre/OIG2.jpg') }}" alt="Imagem não foi carregada">
            </div>
            <ul class="story-list">
                <li class="story-title">Onde tudo começou</li>
                <p class="story-text">Em uma movimentada avenida da cidade, havia uma loja de doces chamadas <b class="highlight">Delícias Açucaradas</b>. 
                Não era uma loja comum, mas um estabelecimento sofisticado que atraía os paladares mais exigentes da cidade.

                A loja era gerenciada por <b class="highlight">Marcela</b>, uma confeiteira talentosa com um diploma em gastronomia e uma paixão por doces. 
                Ela tinha um olhar aguçado para detalhes e um paladar refinado, o que a ajudava a criar doces que eram verdadeiras obras de arte.
                
                Os doces de Marcela eram conhecidos pela sua qualidade excepcional. Cada doce era feito à mão com os ingredientes mais finos. 
                Ela se orgulhava de usar apenas o melhor chocolate belga, a mais pura baunilha de Madagascar e frutas frescas da estação.
                
                A loja era conhecida não apenas pelos seus doces, mas também pelo seu atendimento ao cliente. 
                Marcela acreditava que cada cliente merecia uma experiência personalizada e se esforçava para garantir que cada visita à sua loja fosse memorável.
                    
                Com o tempo, a <b class="highlight">Delícias Açucaradas</b> se tornou mais do que apenas uma loja de doces. 

                Tornou-se um marco na cidade, um lugar onde as pessoas iam para celebrar ocasiões especiais ou simplesmente para se deliciar com um doce requintado.
                E assim, a loja de doces continuou a prosperar, trazendo um toque de doçura à vida de todos que a visitavam.
                
                </p>
                <li class="story-title">Primeiros anos</li>
                <p class="story-text">
                    Nos primeiros anos, a <b class="highlight">Delícias Açucaradas</b> era apenas um sonho na mente de Marcela. 
                    Ela tinha acabado de se formar em gastronomia e estava ansiosa para colocar suas habilidades em prática. 
                    Com um pequeno empréstimo e muita determinação, ela alugou um espaço em uma movimentada avenida da cidade e começou a transformá-lo na loja de doces dos seus sonhos.
                    No início, Marcela fazia tudo sozinha. Ela acordava antes do amanhecer para preparar os doces, passava o dia atendendo os clientes e a noite planejando novas criações. 
                    Cada doce era uma expressão de sua paixão e talento, e ela se orgulhava de cada peça que saía de sua cozinha.
                    A notícia sobre a loja de doces começou a se espalhar pela cidade. As pessoas ficavam encantadas com a qualidade dos doces de Marcela e a experiência personalizada que ela oferecia. 
                    Logo, a loja começou a atrair os paladares mais exigentes da cidade.
                    Com o passar do tempo, a <b class="highlight">Delícias Açucaradas</b> começou a se tornar mais do que apenas uma loja de doces. 
                    Tornou-se um marco na cidade, um lugar onde as pessoas iam para celebrar ocasiões especiais ou simplesmente para se deliciar com um doce requintado. 
                    Marcela contratou mais funcionários para ajudar a atender à crescente demanda, mas ela sempre se certificava de que cada doce mantivesse o mesmo padrão de qualidade.
                    E assim, nos primeiros anos, a <b class="highlight">Delícias Açucaradas</b> prosperou. 
                    A loja de doces de Marcela se tornou um símbolo de doçura e alegria na cidade, trazendo um toque de doçura à vida de todos que a visitavam. 
                    E embora a loja tenha crescido e mudado ao longo dos anos, a paixão de Marcela pelos doces e seu compromisso com a qualidade nunca vacilaram. 
                    Ela continuou a criar doces que eram verdadeiras obras de arte, e a  <b class="Delícias Açucaradas"></b> continuou a ser um lugar onde as pessoas podiam encontrar um pouco de doçura em suas vidas.
                </p>
            </ul>
        </main>    
    {% endblock %}
    {% block footer %}
        {{ super() }}
    {% endblock %}
</body>
</html>