/* Estilos gerais */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.header-carrinho {
    background-color: #007BFF;
    padding: 20px 0;
    color: #fff;
    text-align: center;
}

.titulo-carrinho {
    font-size: 2em;
}
.titulo-produtos {
    text-align: center;
    font-size: 1.5em;
    color: #333;
    padding: 20px 0;
}

/* Estilos para os produtos */
.produto {
    min-width: 150vh; /* Aumenta a largura da div produto */
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 3vh; /* Usa vh para padding */
    border-radius: 8px;
    display: flex;
    align-items: center; /* Alinha o conteúdo verticalmente no centro */
    transition: all 0.3s ease;
    margin-bottom: 4vh; /* Usa vh para margem inferior */
}

.info-produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left; /* Alinha o texto à esquerda */
    margin-left: 4vh; /* Espaçamento entre a imagem e as informações */
    flex-grow: 1; /* Permite que a div info-produto ocupe todo o espaço disponível */
}

.imagem-produto {
    width: 20vh; /* Aumenta o tamanho da imagem */
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.imagem-produto:hover {
    transform: scale(1.1);
}

/* Estilos para os inputs e botões */
.quantidade-e-checkbox {
    display: flex;
    align-items: center;
    margin-top: 2vh; /* Espaço acima do input de quantidade */
}

.quantidade-e-checkbox label {
    margin-right: 2vh; /* Espaçamento maior entre a label e o input de quantidade */
}

.comprar-checkbox {
    margin-left: 2vh; /* Espaço entre a quantidade e o checkbox */
    width: 3vh; /* Aumenta o tamanho do checkbox */
    height: 3vh; /* Aumenta o tamanho do checkbox */
    transition: all 0.3s ease;
}

#quantidade-produto {
    width: 10vh; /* Aumenta o tamanho do input de quantidade */
}

.botao-excluir {
    padding: 2vh 3vh; /* Usa vh para padding */
    background-color: #d9534f;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 2vh;
}

.botao-excluir:hover {
    background-color: #c9302c;
    transform: scale(1.05);
}

/* Estilo para .mostrar_total */
.carrinho-container {
    display: flex;
    justify-content: space-between; /* Distribui espaço entre os elementos filhos */
}

.mostrar_total {
    align-self: flex-start; /* Alinha a div ao topo do contêiner */
    background-color: #f0f0f0;
    padding: 2vh;
    border-radius: 5px;
    border: 1px solid #ddd;
    text-align: center; /* Centraliza o texto */
    margin-left: 20vh; /* Reduz o espaço à esquerda */
    margin-right: 20vh; /* Adiciona um espaço à direita */
    font-size: 1.2em; /* Aumenta o tamanho da fonte */
    color: #333;
}

.mostrar_total p {
    margin: 1vh 0; /* Margem vertical */
}

#compra-form button[type="submit"] {
    background-color: #4CAF50; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border: none; /* Remove a borda do botão */
    border-radius: 5px; /* Adiciona cantos arredondados ao botão */
    cursor: pointer; /* Altera o cursor ao passar sobre o botão */
    transition: background-color 0.3s, color 0.3s; /* Adiciona transição suave de cor de fundo e cor do texto */
}

#compra-form button[type="submit"]:hover {
    background-color: #45a049; /* Cor de fundo alterada ao passar o mouse */
}


.mensagem-vazio {
    text-align: center;
    font-size: 1.2em;
    color: #777;
    padding: 10px 0;
}